/*-----------------------------------------------
$SASS COLOURS
-----------------------------------------------*/
$complete: rgb(183,253,147);
$error: rgb(253,147,183);
$btn: rgb(0,159,227);
$btn-start: rgb(0,176,53);
$btn-clr: rgb(178,42,22);

/*-----------------------------------------------
$MAIN
-----------------------------------------------*/
html,
body {
    height: 100%;
}
body {
    font:400 100%/1.5 'Open Sans', sans-serif;
    background: #222;
}


/*-----------------------------------------------
$GRIDS
-----------------------------------------------*/
.container {
    background-color: #E8E8E8;
    max-width: 1500px;
    margin: 0 auto;
}

/*-----------------------------------------------
$LOGO
-----------------------------------------------*/


/*-----------------------------------------------
$TYPE
-----------------------------------------------*/

/*--- HEADINGS ---*/

/*--- PARAGRAPHS ---*/

/*--- LISTS ---*/

/*--- LINKS ---*/

/*--- MISC ---*/
.statement {
    background: #C0C0C0;
    line-height: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
    float: left;
    width: 80%;
}
.elaborate {
    display: none;
}

/*-----------------------------------------------
$IMAGES
-----------------------------------------------*/

img {
    vertical-align: middle;
}

/*--- IMAGE REPLACEMENT ---*/
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/*-----------------------------------------------
$FORMS
-----------------------------------------------*/

input[type="number"] {
    width: 2.5em;
}
textarea {
    resize: vertical;
}


/*-----------------------------------------------
$MESSAGES
-----------------------------------------------*/
.message {
    position: absolute;
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;
    color: #444;
    list-style: none;
    width: 100%;
    height: 100%;
    z-index: 99;
}

/* Ref: http://css-tricks.com/centering-in-the-unknown/ */

/* The ghost, nudged to maintain perfect centering */
.message:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.message span {
      display: inline-block;
      vertical-align: middle;
      width: 300px;
}

.complete {
    color: darken($complete, 60%);
    background: $complete;
}
.error {
    color: darken($error, 60%);
    background: $error;
}


/*-----------------------------------------------
$TYMER
-----------------------------------------------*/
.tymer {
    //height: 21.5em;
}
.tymer-set,
.tymer-control {
    max-width: 1500px;
}
.tymer span {
    float: left;
    display: block;
    text-align: center;
    overflow: hidden;
}
.number,
.sep {
    font-family: 'Oswald', monospace;
    font-weight: 700;
    //line-height: 1.5;
    font-size: 7em;
}
.number {
    color: #333;
    width: 45%;
    -webkit-font-smoothing: antialiased;
}
.sep {
    color: #666;
    width: 10%;
}



/*-----------------------------------------------
$MISC
-----------------------------------------------*/

/* HIGHLIGHTED TEXT * These selection rule sets have to be separate. */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*-----------------------------------------------
$CLASSES
-----------------------------------------------*/

/*--- BUTTONS ---*/
.btn {
    background-color: $btn;
    color: #FFF;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    text-shadow: 0 -1px 0 darken($btn, 10%);
    width: 100%;
}
.btn:hover,
.btn:active {
    background-color: darken($btn, 10%);
    text-shadow: 0 -1px 0 darken($btn, 20%);
}
.btn.control,
.btn.clear,
.btn.start {
    float: left;
}
.btn.start {
    background-color: $btn-start;
    background-image: url('../img/start.svg');
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 20px 30px;
    text-shadow: 0 -1px 0 darken($btn-start, 10%);
    width: 20%;
    text-indent: 100%;
}
.btn.start:hover,
.btn.start:active {
    background-color: darken($btn-start, 10%);
    text-shadow: 0 -1px 0 darken($btn-start, 20%);
}
.btn.control {
    width: 50%;
}
.btn.clear {
    background-color: $btn-clr;
    text-shadow: 0 -1px 0 darken($btn-clr, 10%);
    width: 50%;
}
.btn.clear:hover,
.btn.clear:active {
    background-color: darken($btn-clr, 10%);
    text-shadow: 0 -1px 0 darken($btn-clr, 20%);
}

.btn.dismiss {
    background-color: #999;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 0 0 0 10px;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-shadow: 0 -1px 0 darken(#999, 10%);
}
.btn.dismiss:hover,
.btn.dismiss:active {
    background-color: darken(#999, 20%);
    text-shadow: 0 -1px 0 darken(#999, 30%);
}
.btn.dismiss:after {
    content: 'x';
    background-color: #333;
    display: block;
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
}

/*--- CLEAFIX ---*/

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/*--- HIDE ---*/

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*-----------------------------------------------
$MEDIA QUERIES
-----------------------------------------------*/
@media only screen and (min-width: 480px) {
    .tymer {
        //height: 16.5em;
    }
    .number,
    .sep {
        font-size: 11em;
    }
    .btn.start {
        width: 33%;
    }
    .statement {
        width: 67%;
    }
    .btn.start {
        text-indent: 0;
        background-image: none;
    }
}
@media only screen and (min-width: 600px) {
    .container {
        min-height: 100%;
        position: relative;
    }
    .tymer-set,
    .tymer-control {
        position: relative;
        height: 75px;
        margin: -75px auto 0 auto;
        max-width: 1500px;
    }
    .tymer {
        padding-bottom: 75px;
    }
    .btn,
    .statement {
        line-height: 75px;
    }
    .number,
    .sep {
        font-size: 14em;
    }
    .elaborate.med {
        display: inline;
    }
}
@media only screen and (min-width: 660px) {
    .tymer {
        //height: 24em;
    }
    .number,
    .sep {
        font-size: 16em;
    }
}
@media only screen and (min-width: 768px) {
    .tymer {
        //height: 27em;
    }
    .number,
    .sep {
        font-size: 18em;
    }
    .elaborate.large {
        display: inline;
    }
}
@media only screen and (min-width: 800px) {
    .tymer {
        //height: 30em;
    }
    .number,
    .sep {
        font-size: 20em;
    }
}
@media only screen and (min-width: 992px) {
    .tymer {
        //height: 37.5em;
    }
    .number,
    .sep {
        font-size: 25em;
    }
    .btn,
    .statement {
        font-size: 1.4em
    }
    .message {
        font-size: 2em;
    }
    .message span{
          width: 600px;
    }
}
@media only screen and (min-width: 1280px) {
    .tymer {
        //height: 39em;
    }
    .number,
    .sep {
        font-size: 26em;
    }
    .btn.start,
    .statement {
        width: 50%;
    }
}
// @media only screen and (min-width: 1280px) {
//     .number,
//     .sep {
//         font-size: 31em;
//     }
// }