.timerDone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.3s, opacity 0.3s linear;

  &.isActive {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s linear;
  }

  &__btn {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-shadow: 0 -1px 0 darken($complete, 20%);
    background: $complete;
    color: #fff;
    font-size: 2rem;

    @include respond-to('medium') {
      font-size: 3rem;
    }
  }
}
