// -----------------------------------------------------------------------------
// This file contains styles that are specific to Tymer.
// -----------------------------------------------------------------------------

.setMinutes,
.setSeconds {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 1;

  &__btn {
    padding: 0;
    flex: 0 1 50px;
    color: #fff;
    font-size: 2rem;
    line-height: 50px;
    transition: background-color 0.2s;

    @include respond-to('medium') {
      flex: 0 1 100px;
      font-size: 3rem;
      line-height: 100px;
    }
  }

  &__input {
    width: 50px;
    flex: 1 0 auto;
    text-align: center;
    background-color: $input-background;
    border: 0;
    color: $input-color;
    font-size: 1.5rem;
    transition: background-color 0.2s;

    &:focus {
      background-color: darken($input-background, 5%);
      color: darken($input-color, 5%);
      outline: 0;
    }

    @include respond-to('medium') {
      font-size: 2.3rem;
    }
  }
}

.setMinutes__btn {
  background-color: $spinner-mins;
  text-shadow: 0 -1px 0 darken($spinner-mins, 10%);

  &:hover,
  &:active {
    background-color: darken($spinner-mins, 10%);
    text-shadow: 0 -1px 0 darken($spinner-mins, 20%);
  }
}

.setSeconds__btn {
  background-color: $spinner-secs;
  text-shadow: 0 -1px 0 darken($spinner-secs, 10%);

  &:hover,
  &:active {
    background-color: darken($spinner-secs, 10%);
    text-shadow: 0 -1px 0 darken($spinner-secs, 20%);
  }
}

.resetTime {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  flex: 1;
  color: #fff;
  font-family: $text-font-stack;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 darken($spinner-secs, 10%);
  background-color: $reset;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s;

  @include respond-to('medium') {
    font-size: 3rem;
    line-height: 100px;
  }

  &:hover,
  &:active {
    background-color: darken($reset, 10%);
    text-shadow: 0 -1px 0 darken($reset, 20%);
  }
}
