// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color__text-default: #666;
$light: #E8E8E8;
$dark: #333;
$complete: rgb(70,200,4);
$error: rgb(252,97,150);
$btn: #666;
$link: rgb(0,176,53);
$spinner-secs: rgb(0,176,53);
$spinner-mins: rgb(0,159,227);
$btn-clr: rgb(178,42,22);
$input-background: #fffcdc;
$input-color: #666;
$text-font-stack: 'Open Sans', sans-serif;
$alt-font-stack: 'Oswald', sans-serif;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;