// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color__text-default: #666;
$light: #E8E8E8;
$dark: #333;
$complete: rgb(70,200,4);
$error: rgb(252,97,150);
$btn: #666;
$link: rgb(0,176,53);
$spinner-secs: rgb(0,176,53);
$spinner-mins: rgb(0,159,227);
$btn-clr: rgb(178,42,22);
$input-background: #fffcdc;
$input-color: #666;
$text-font-stack: 'Open Sans', sans-serif;
$alt-font-stack: 'Oswald', sans-serif;

// Settings
$bp-s: 600px !default;
$bp-m: 960px !default;
$bp-l: 1200px !default;
$bp-xl: 1600px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: $bp-s),
  'medium': (min-width: $bp-m),
  'large': (min-width: $bp-l),
  'xl': (min-width: $bp-xl)
) !default;