.appContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &--paused {
    .timeContainer {
      animation: blinker 1s ease-in-out infinite;
    }
  }
}

.timeContainer {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  cursor: pointer;

  @include respond-to('medium') {
    height: calc(100vh - 100px);
  }
}

.setTimeContainer {
  display: flex;
  height: 50px;

  @include respond-to('medium') {
    height: 100px;
  }
}

.resetTimeContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  transform: translateY(50px);
  transition: transform 0.2s ease-in-out;

  @include respond-to('medium') {
    height: 100px;
    transform: translateY(100px);
  }

  &.isActive {
    transform: translateY(0);
  }
}
