.appContainer {
  height: 100vh;

  &--paused {
    .timeContainer {
      animation: blinker 1s ease-in-out infinite;
    }
  }
}

.timeContainer {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  cursor: pointer;

  @include respond-to('medium') {
    height: calc(100vh - 100px);
  }
}

.setTimeContainer {
  display: flex;
  height: 50px;

  @include respond-to('medium') {
    height: 100px;
  }
}
