// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  border: 0;
  background-color: #ccc;
  cursor: pointer;
}